/* Write your CSS here */
.similarProductItem {
  width: 200px;
  margin: 10px;
}

.productIcon {
  width: 100%;
  border-radius: 8px;
}

.priceRating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brandPara {
  margin-bottom: 0px;
}
